    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    input {
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        background: url(img/img3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    #loginBox {
        width: 250px;
        margin: auto;
        margin-top: 150px;
    }
    
    .container {
        width: 300px;
        height: 250px;
        border: 1px solid black;
        padding: 15px 15px;
        border-radius: 30px;
        background: #dfdfdf;
        border: none;
        box-shadow: 0px 17px 96px -2px black;
    }
    
    .icon {
        width: 70px;
        height: 70px;
        font-size: 50px;
        border: 1px solid black;
        border-radius: 100%;
        text-align: center;
        padding: 10px 10px;
        margin-top: -60px;
        margin-left: 100px;
        margin-bottom: 35px;
        color: white;
        background: #051B3E;
    }
    
    input {
        margin-left: 20px;
        overflow: hidden;
        padding: 10px 50px;
        margin-bottom: 10px;
        margin-bottom: 10px;
        font-family: 'Montserrat'sans-serif;
        border: none;
        font-size: 15px;
        font-weight: 300;
        background: #ffffff;
        color: rgb(0, 0, 0);
    }
    
    .Icon {
        width: 20px;
        position: absolute;
        margin-top: 0px;
        margin-left: 20px;
        border-right: 1px solid black;
        background: #051B3E;
        color: white;
        padding: 10px;
        text-align: center;
    }
    
    .MainCheck {
        overflow: hidden;
        width: 100%;
        margin-right: 20px;
        margin-top: 20px;
        font-family: 'Montserrat'sans-serif;
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 0.5px;
        float: left;
    }
    
    a {
        text-decoration: none;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(7, 7, 7);
        text-transform: none;
        position: absolute;
        margin-left: 179px;
        margin-top: -19px;
    }
    
    .Btn {
        display: block;
        border: 1px solid red;
        position: absolute;
        padding: 10px 106px;
        margin-top: 106px;
        margin-left: 21px;
        background: #d1cccc;
        border-radius: 13px;
        color: white;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }